nav
{
    background-color: black;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 5px black;
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
nav a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2rem 0rem;
    text-decoration: none;
    color: inherit;
    width: 100%;
}
nav a:hover, nav a.active
{
    background-color: hsl(0, 2%, 10%);
}
nav a>*
{
    margin-top: .15rem;
}
nav a span
{
    transform: translateY(-5%);
    font-size: .8rem;
}
nav .service-menu
{
    box-sizing: border-box;
    background: black;
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transform: translateY(calc(-80% - 5px));
    border-radius: .5rem;
}
nav .service-menu>*
{
    border-radius: .2rem 0rem;
    padding:.5rem ;
    margin: 0rem .1rem;
    border-bottom: 1px solid whitesmoke;
}
nav .service-menu >*:hover
{
    background: rgb(41, 40, 40);
}
nav .service-menu> *
{
    transition: all 300ms ease-in;
}